<% content_for :title, "Home page" %>

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0); padding: 0 0 !important;opacity: 1 !important;">
  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "About us", about_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "About us", about_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("about2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), about_path %>
  </div>

  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "Services", services_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Services", services_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), services_path %>
  </div>

  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "Prices", prices_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Prices", prices_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("prices2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), prices_path %>
  </div>

  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "New reservation", new_reservation_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "New reservation", new_reservation_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("reservation2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), new_reservation_path %>
  </div>

  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "Where we are?", where_we_are_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Where we are?", where_we_are_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("our_services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), where_we_are_path %>
  </div>

  <div class="grid-block slide">
    <div class="caption">
        <h2><%= link_to "Contact", contact_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Contact", contact_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("contact2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), contact_path %>
  </div>
</div>