<% content_for :title, "Home page" %>

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0); padding: 0 0 !important;opacity: 1 !important;">
  <div class="grid-block slide">
    <div class="cap">
      <h2>O nas</h2>
    </div>
    <div class="caption" onclick="location.href='/about';" style="cursor:pointer;">
        <h2><%= link_to "About us", about_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "About us", about_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/about2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), about_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Usługi</h2>
    </div>
    <div class="caption" onclick="location.href='/services';" style="cursor:pointer;">
        <h2><%= link_to "Services", services_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Services", services_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), services_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Cennik</h2>
    </div>
    <div class="caption" onclick="location.href='/prices';" style="cursor:pointer;">
        <h2><%= link_to "Prices", prices_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Prices", prices_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/prices2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), prices_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Rezerwacja</h2>
    </div>
    <div class="caption" onclick="location.href='/reservations/new';" style="cursor:pointer;">
        <h2><%= link_to "New reservation", new_reservation_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "New reservation", new_reservation_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/reservation2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), new_reservation_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Gdzie nas znaleźć?</h2>
    </div>
    <div class="caption" onclick="location.href='/where-we-are';" style="cursor:pointer;">
        <h2><%= link_to "Where we are?", where_we_are_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Where we are?", where_we_are_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/our_services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), where_we_are_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Kontakt</h2>
    </div>
    <div class="caption" onclick="location.href='/contact';" style="cursor:pointer;">
        <h2><%= link_to "Contact", contact_path %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Contact", contact_path, :class => 'learn-more' %></p>
    </div>
    <%= link_to image_tag("buttons/contact2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), contact_path %>
  </div>
</div>