<% content_for :title, "Home page" %>

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0); padding: 0 0 !important;">
  <div class="grid-block slide">
    <div class="cap">
      <h2>O nas</h2>
    </div>
    <%= link_to image_tag("buttons/about2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), about_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Usługi</h2>
    </div>
    <%= link_to image_tag("buttons/services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), services_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Cennik</h2>
    </div>
    <%= link_to image_tag("buttons/prices2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), prices_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Rezerwacja</h2>
    </div>
    <%= link_to image_tag("buttons/reservation2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), new_reservation_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Gdzie nas znaleźć?</h2>
    </div>
    <%= link_to image_tag("buttons/our_services2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), where_we_are_path %>
  </div>

  <div class="grid-block slide">
    <div class="cap">
      <h2>Kontakt</h2>
    </div>
    <%= link_to image_tag("buttons/contact2.jpg", :class => 'img-rounded img-responsive', :alt => 'test alt'), contact_path %>
  </div>
</div>