<% if @reservation.errors.any? %>
    <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
<% end %>

<div class="jumbotron">
<h2>Reservate your repair!</h2>
<p>Please, fill all the fields below to reservate repair of your car.</p>
<%= form_for @reservation, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :email, '*E-mail:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :email, placeholder: "Your e-mail...", :class => 'form-control' %><br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, '*Phone number:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :phone, placeholder: "Your phone number...", :class => 'form-control' %><br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, '*Name and surname:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">    
      <%= f.text_field :name, placeholder: "Your name and surname...", :class => 'form-control' %><br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :desc, 'Your description:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">   
      <%= f.text_field :desc, placeholder: "Describe here your problem with car...", :class => 'form-control' %><br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, '*When you want to meet?', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">   
      <%= f.text_field :date, placeholder: "Format: YYYY-MM-DD HH:mm", :class => 'form-control', :id => 'datetimepicker4', :default => Date.tomorrow %><br />
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                  format: 'YYYY-MM-DD HH:mm',
                  sideBySide: true,
                  minDate: moment()
                });
            });
        </script>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :value => "Send reservation!", :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<p>* - required fields.</p>

<%= render 'layouts/links' %>

</div>
