<% content_for :title, "Reservations" %>

<div class="jumbotron">
<h1>Listebing of reservations</h1>
<table class="table table-hover">
  <tr>
    <td>E-mail</td>
    <td>Phone</td>
    <td>Name</td>
    <td>Desc</td>
    <td>Date</td>
    <td>Options</td>
  </tr>
  <% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.email %></td>
    <td><%= reservation.phone %></td>
    <td><%= reservation.name %></td>
    <td><%= reservation.desc %></td>
    <td><%= reservation.date %></td>
    <td><%= link_to "Show", reservation_path(reservation) %></td>
  <% end %>
  </tr>
</table>

<%= render 'layouts/links' %>

</div>