<% content_for :title, "Reservations" %>

<div class="jumbotron">
<h1>Rezerwacje</h1>
<% @reservations.each do |reservation| %>
  <%= div_for reservation do %>
    <b>Nazwisko:</b> <%= reservation.name %> <b>| Data:</b> <%= reservation.date %> <b>|</b> <%= reservation.service_name %> <b>|</b> <%= reservation.type_of_vehicle %> <b>| E-mail:</b> <%= reservation.email %> <b>| Tel:</b> <%= reservation.phone %> 
    <div class="options">
      <%= link_to "Pokaż", reservation_path(reservation), :class => 'btn btn-default' %> | 
      <%= link_to "Usuń", reservation, method: :delete, remote: true, :class => 'btn btn-default' %>
    </div>
  <% end %>
<% end %> 

<%= render 'layouts/links' %>

</div>
